
.partners {
	direction: ltr;
	.partners-wrap {
		border-top: 1px solid color-mix(in srgb, #4d4643, transparent 85%);
		border-left: 1px solid color-mix(in srgb, #4d4643, transparent 85%);
	}
	.partners-logo {
		background-color:#fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px solid color-mix(in srgb, #4d4643, transparent 85%);
		border-bottom: 1px solid color-mix(in srgb, #4d4643, transparent 85%);
		overflow: hidden;
		img {
			padding: 50px;
			max-width: 80%;
			transition: 0.3s;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}
@media (max-width: 640px) {
	.partners {
		.partners-logo {
			img {
				padding: 30px;
				max-width: 50%;
			}
		}
	}
}
