
    <!-- About Start -->
    <div class="container-fluid about bg-light py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img [src]="imageUrl" class="img-fluid w-100 rounded-bottom" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6 col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                    <h4 class="text-primary">{{ title }}</h4>
                    <h1 class="display-5 mb-4">{{ heading }}</h1>
                    <p class="text pe-4 mb-4">{{ content }}</p>
                        <div class="row g-4 justify-content-between mb-5">
                        <div class="col-lg-6 col-xl-5">
                            <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i>  خدمات المستفيدين </p>
                            <p class="text-dark mb-0"><i class="fas fa-check-circle text-primary me-1"></i>  خدمات الموظفين </p>
                        </div>
                        <div class="col-lg-6 col-xl-7">
                            <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i>  خدمات القطاع الحكومي </p>
                        </div>
                    </div>
                
                  
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->