<!-- Carousel Start -->
<div class="header-carousel owl-carousel">

  <div class="header-carousel-item mx-auto">
    <div class="header-carousel-item-img">
      <img src="./assets/img/bg2.jpeg" class="img-fluid w-100" alt="Image">
    </div>
    <div class="carousel-caption">
      <div class="carousel-caption-inner text-center p-3">
        <h1 class="display-1 text-capitalize text-white mb-4">
          {{bigTitle}}
        </h1>
        <p class="mb-5 fs-5">  
          {{smallTitle}}
        </p>
      </div>
    </div>
  </div>

</div>
<!-- Carousel End -->